src/wadls/volume-api/src/os-volume-1.wadl

<?xml version="1.0" encoding="UTF-8"?>


<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://volume.example.com/">
        <resource id="version" path="v1">
            <resource id="tenant_id" path="{tenant_id}">
                <!-- <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            The unique identifier of the tenant or account.
                        </p>
                    </doc>
                </param> -->
                <?rax start-sections?>
                <resource id="volumes" path="volumes">
                <doc title="Volumes"/>   
                   <method href="#createVolume" />
                   <method href="#getVolumesSimple" />

                       <resource path="detail" id="detail">
                           <!-- as of 7-25-12, this is same as non-detailed  
                               <method href="#getVolumesDetail" />  -->
                       </resource>

                       <resource path="{volume_id}" id="volume_id">
                           <param name="volume_id" style="template" required="true">
                               <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                   The unique identifier of an existing volume.
                               </p></doc>
                           </param>
        
                          <method href="#getVolume" />
                          <method href="#renameVolume" />
                          <method href="#deleteVolume" />
        
                       </resource>
                </resource>
                
                <resource id="volume_types" path="/types">
                    <doc title="Volume types"/>
                    <method href="#getVolumeTypes" />

                    <resource path="{volume_type_id}" id="volume_type_id">
                        <param name="volume_type_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of an existing volume type.
                            </p></doc>
                        </param>

                        <method href="#getVolumeType" />
                    </resource>
                </resource>

                <resource id="snapshots" path="snapshots">
		   <doc title="Snapshots"/>
                    <method href="#createSnapshot" />
                    <method href="#getSnapshotsSimple" />

                    <resource path="detail" id="snapshot_detail">
                        <!-- as of 7-25-12, this is same as non-detailed   
                           <method href="#getSnapshotsDetail" />  -->
                    </resource>

                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of an existing snapshot.
                            </p></doc>
                        </param>

                        <method href="#getSnapshot" />
                        <method href="#deleteSnapshot" />

                    </resource>
                </resource>

          </resource>
        </resource>
    </resources>


    <!-- Volume Methods -->
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Volume">
           <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Creates the volume.</p>
            
            
<!--
    The below are examples of how to insert new text into the wadl and have it display.
    Two forms of text are given, Comment to the Reviewer and Straight Text 
    <p>
            <remark xmlns="http://docbook.org/ns/docbook" security="reviewer">Reviewer - Here is my question!</remark>
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">Create a Volume - hey! this is old text. 
            The example below creates a volume called vol-001.</p>
 -->          
            <p xmlns="http://www.w3.org/1999/xhtml">
                The examples in the following table create a SATA volume called "vol-001" that has a size of 100 GB.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.xml" />
                </doc>                             
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume" style="plain" type="string" required="true" path="/account/volumes/volume" >
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A partial representation of a volume used in the creation process. This parameter is required for this operation.
                </p></doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="size" style="plain" type="string" required="true" path="/account/volumes/size">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The size (in GB) of the volume. This is a required parameter. Note: When creating a volume from a snapshot, the volume size must be greater than the snapshot size.  
                </p></doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain" type="string" required="false" path="/account/volumes/display_description" >
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A description of the volume. This parameter is optional.
                </p></doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="string" required="false" path="/account/volumes/display_name">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The name of the volume. This parameter is optional.
                </p></doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="snapshot_id" style="plain" type="string" required="false" path="/account/volumes/snapshot_id" >
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The optional snapshot from which to create a volume. This parameter is optional.
                </p></doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_type" style="plain" type="string" required="false" path="/account/volumes/volume_type">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The type of volume to create, either SATA or SSD. This parameter is optional. If not defined,
                    then the default, SATA, is used.
                </p></doc>
            </param>
                <param name="source_volid" style="plain" type="string" required="false" path="/account/volumes/source_volid">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The source identifier of an existing Cloud Block Storage volume 
                    that you want to clone (copy) to create a new volume. This parameter is optional.
                </p></doc>
            </param> 
            <param name="status" style="template" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Status is typically <code>available</code> although 
                    it can be <code>creating</code> if the volume is from a snapshot operation.
                </p></doc>
            </param> 
            <param name="availability_zone" style="template" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    This parameter is currently is always <code>nova</code>.
                </p></doc>
            </param>
            <param name="bootable" style="template" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    This parameter is currently is currently always <code>false</code>.
                </p></doc>
            </param>  
            <param name="metadata" style="template" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    This optional parameter is available is you want to set any metadata values.
                </p></doc>
            </param>                 

            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.json" />
                </doc>
            </representation>
        </request>

        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json" />
                </doc>
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    When you use <code>source_volid</code> for volume cloning, note that this feature currently 
                    has the following constraints. You cannot create more than one clone per volume concurrently. Snapshots 
                    and volume cloning use the same locking mechanism, so you cannot run a snapshot and a clone 
                    of the same volume concurrently.
                </p></doc>   
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Note that you use the <code>os-volume_attachments</code> API call 
                    (/servers/{server_id}/os-volume_attachments) to attach 
                    the new volume to your Next Generation Cloud Server (with 
                    the specified {server_id}). 
                    Refer to the <i>Next Generation Cloud Servers Developer Guide</i> 
                    at <a href="http://docs.rackspace.com/api">docs.rackspace.com</a> for details 
                    of the call. Once the volume is attached, the new volume appears 
                    as another device on the Next Generation Cloud Server. It can 
                    then be partitioned, formatted, and mounted for use on the system.    
                </p></doc>               
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="List Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">View a list of volumes.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E"
            title="List Volumes (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">View a list of detailed volume entities.</p>

        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    
                    <xsdxt:code href="samples/volume_list_simple.xml" />
                    
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Show Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">View all information about a single volume.</p>
        </wadl:doc>
        <request>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json" />
                </doc>
            </representation>
        </response>
    </method>
    
    <method name="PUT" id="renameVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Rename Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates a volume's display name and display description.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">                
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_rename_request.xml" />
                </doc>                            
                <param name="display_description" style="plain" type="string" required="false" path="/account/volumes/display_description">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A description of the volume.
                </p></doc>
            </param>
                <param name="display_name" style="plain" type="string" required="false" path="/account/volumes/display_name">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The name of the volume. 
                </p></doc>  
            </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_rename_request.json" />
                </doc>
            </representation>          
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_rename_response.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_rename_response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Delete Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a single volume.</p>
            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                Due to a limitatin in the OpenStack source, it is not currently (October, 2012) possible
                to delete a volume once you have created a snapshot from it.
            </p></doc>
        </wadl:doc>
        <response status="202" />
    </method>


<!-- Volume Types Methods -->
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="List Volume Types">
            <p xmlns="http://www.w3.org/1999/xhtml">Request a list of volume types.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.json" />
                </doc>
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Note that two storage types are currently supported: SATA 
                    and SSD. SATA is the standard performance storage option 
                    and SSD is the high performance option. 
                </p></doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Describe Volume Type">
            <p xmlns="http://www.w3.org/1999/xhtml">Request a single volume type.</p>

        </wadl:doc>
  
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.json" />
                </doc>
            </representation>
        </response>
    </method>
    
    
<!-- Snapshot Methods -->
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="E" 
            title="Create Snapshot">
            <para role="shortdesc" >Create a snapshot.</para>
           
        <para>Creating a snapshot makes a point-in-time copy of the
            volume. All writes to the volume should be flushed <emphasis>before</emphasis>
            creating the snapshot, either by un-mounting any file systems on the
            volume, or by detaching the volume before creating the snapshot.
            Snapshots are incremental, so each time you create a new snapshot, you are
            appending the incremental changes for the new snapshot to the previous
            one. The previous snapshot is still available. Note that you can
            create a new volume from the snapshot if desired. </para>
            <note><para>Snapshot progress is visible in <code>os-extended-snapshot-attributes:progress</code> in the Show Snapshot response body. See the response examples in <xref linkend="GET_getSnapshot_v1__tenant_id__snapshots__snapshot_id__v1__tenant_id__snapshots"/>.</para></note>         
            <para >
            When the <code>POST</code> operation returns the 201 response code, the snapshot is complete.
        </para>
        </wadl:doc>   
        <request>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.xml" />
                </doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="snapshot" style="plain" type="string" required="true" path="/account/snapshots/snapshot" >
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A partial representation of a snapshot used in the creation process.
                </p>
                </doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_id" style="plain" type="string" required="true" path="/account/snapshots/volume_id">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The ID of the volume to snapshot.
                </p>
                </doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="force" style="plain" type="string" required="false" path="/account/snapshots/force">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    [True/False] Indicate whether to snapshot, even if the volume is attached. 
                    Default==False.
                </p>
                </doc>
            </param>            
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="string" required="false" path="/account/snapshots/display_name">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Name of the snapshot. Default==None.
                </p>
                </doc>
            </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain" type="string" required="false" path="/account/snapshots/display_description" >
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Description of snapshot. Default==None.
                </p>
                </doc>
            </param>
            
            

            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="List Snapshots">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View a list of simple snapshot entities.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="List Snapshots (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View a list of detailed snapshot entities.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="E" 
            title="Show Snapshot">
            <para role="shortdesc">
                View all information about a single snapshot. 
            </para>
            <note><para>Snapshot progress is visible in <code>os-extended-snapshot-attributes:progress</code> in the Show Snapshot response body. See the examples below.</para></note>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="Delete Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a single snapshot.</p>
        </wadl:doc>
 <!--       <doc><p xmlns="http://www.w3.org/1999/xhtml">
         When you delete your snapshots, they will show up as deleted very soon after the call finishes. You can perform additional operations on the snapshot's volume without getting 409 conflicts.
        </p>
        </doc>  -->
        <response status="202" />
    </method>

</application>
