src/wadls/volume-api/src/os-volume-1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:cbd="http://docs.openstack.org/database/api/v1.0"
    xmlns:clusters="http://docs.openstack.org/database/api/v1.0">
    <resources base="https://volume.example.com/">
        <resource id="version" path="v1">
            <resource id="tenant_id" path="{tenant_id}">
                <!-- <param name="tenant_id" style="template">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">
                        <para>
                            The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param> -->
                <?rax start-sections?>
                <resource id="volumes" path="volumes">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Volumes"/>
                    <method href="#createVolume"/>
                    <method href="#getVolumesSimple"/>
                    <resource path="detail" id="detail">
                        <!-- as of 7-25-12, this is same as non-detailed -->
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique ID of
                                   an existing
                                volume.</para></wadl:doc>
                        </param>
                        <method href="#getVolume"/>
                        <method href="#renameVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="volume_types" path="types">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Volume types"/>
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        <param name="volume_type_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique ID of
                                   an existing volume
                                type.</para></wadl:doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Snapshots"/>
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail" id="snapshot_detail">
                        <!-- as of 7-25-12, this is same as non-detailed  -->
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique ID of
                                   an existing
                                snapshot.</para></wadl:doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- Volume Methods -->
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">Creates a volume.</para>
            <para>When you use <code>source_volid</code> for volume
                cloning, note that this feature currently has the
                following constraints. You cannot create more than one
                clone per volume concurrently. Snapshots and volume
                cloning use the same locking mechanism, so you cannot
                run a snapshot and a clone of the same volume
                concurrently.</para>
            <para>Note that you use the
                    <code>os-volume_attachments</code> API call
                    (<code>/servers/{server_id}/os-volume_attachments</code>)
                to attach the new volume to your Next Generation Cloud
                Server (with the specified {server_id}). Refer to the
                    <i>Next Generation Cloud Servers Developer
                    Guide</i> at <a
                    href="http://docs.rackspace.com/api"
                    >docs.rackspace.com</a> for details of the call.
                Once the volume is attached, the new volume appears as
                another device on the Next Generation Cloud Server. It
                can then be partitioned, formatted, and mounted for
                use on the system.</para>
            <para>The following examples create a 100 GB SATA volume
                called <code>vol-001</code>.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="volume" style="plain" type="string"
                required="true" path="/account/volumes/volume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A partial representation of a
                        volume used in the creation process. This
                        parameter is required for this
                        operation.</para></wadl:doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="size" style="plain" type="string"
                required="true" path="/account/volumes/size">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The size (in GB) of the
                        volume. This is a required parameter. Note:
                        When creating a volume from a snapshot, the
                        volume size must be greater than the snapshot
                        size. </para></wadl:doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="display_description" style="plain" type="string"
                required="false"
                path="/account/volumes/display_description">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A description of the volume.
                        This parameter is optional.</para></wadl:doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="display_name" style="plain" type="string"
                required="false" path="/account/volumes/display_name">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The name of the volume. This
                        parameter is optional. </para></wadl:doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="snapshot_id" style="plain" type="string"
                required="false" path="/account/volumes/snapshot_id">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The optional snapshot from
                        which to create a volume. This parameter is
                        optional. </para></wadl:doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="volume_type" style="plain" type="string"
                required="false" path="/account/volumes/volume_type">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The type of volume to create,
                        either SATA or SSD. This parameter is
                        optional. If not defined, then the default,
                        SATA, is used. </para></wadl:doc>
            </param>
            <param name="source_volid" style="plain" type="string"
                required="false" path="/account/volumes/source_volid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The source identifier of an
                        existing Cloud Block Storage volume that you
                        want to clone (copy) to create a new volume.
                        This parameter is optional.</para></wadl:doc>
            </param>
            <!--                
            <param name="status" style="template" type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN"><para role="shortdesc">
                    Status is typically <code>available</code> although 
                    it can be <code>creating</code> if the volume is from a snapshot operation.
</para></wadl:doc>
            </param>
-->
            <param name="availability_zone" style="plain"
                type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>This parameter is no longer
                        used. Therefore, you can supply any value for
                            <code>availability_zone</code>. If you
                        specify no value, it defaults to
                            <code>nova</code>.</para></wadl:doc>
            </param>
            <!--           <param name="bootable" style="template" type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN"><para role="shortdesc">
                    This parameter is currently is currently always <code>false</code>.
</para></wadl:doc>
            </param>  -->
            <param name="metadata" style="plain" type="string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Metadata values for the
                        volume.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">Lists summary information for all
                volumes that the tenant who submits the request can
                access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes (detailed)">
            <para role="shortdesc">Lists details for volumes that the
                tenant who submits the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detailed.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detailed.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume details">
            <para role="shortdesc">Shows volume details.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="renameVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Rename volume">
            <para role="shortdesc">Updates the name and description
                for a volume.</para>
        </wadl:doc>
        <request>
            <param name="display_description" style="plain"
                type="string" required="false"
                path="/account/volumes/display_description">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A description of the
                        volume.</para></wadl:doc>
            </param>
            <param name="display_name" style="plain" type="string"
                required="false" path="/account/volumes/display_name">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The name of the
                    volume.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_response.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">Deletes a volume.</para>
            <para>Due to a limitation in the OpenStack source, it is
                not currently (October, 2012) possible to delete a
                volume are you create a snapshot from it.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <!-- Volume Types Methods -->
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">Lists volume types.</para>
            <para>Note that the SATA and SSD storage types are
                currently supported. SATA is the standard performance
                storage option and SSD is the high performance
                option.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type details">
            <para role="shortdesc">Show volume type details.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <!-- Snapshot Methods -->
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">Creates a snapshot.</para>
            <para>A snapshot is a point-in-time copy of the volume.
                You must flush all writes to the volume before you
                create a snapshot. To do so, either un-mount any file
                systems on the volume or detach the volume.</para>
            <para>Snapshots are incremental, so each time that you
                create a snapshot, the incremental changes for the new
                snapshot are appended to the previous snapshot, which
                is still available. Note that you can create a volume
                from the snapshot if desired.</para>
            <para>The
                    <code>os-extended-snapshot-attributes:progress</code>
                field in the response body shows the snapshot
                progress. See the response examples in <xref
                    linkend="GET_getSnapshot_v1__tenant_id__snapshots__snapshot_id__v1__tenant_id__snapshots"
                />.</para>
            <para>When the <code>POST</code> operation returns the 201
                response code, the snapshot is complete.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.xml"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="snapshot" style="plain" type="string"
                    required="true" path="/account/snapshots/snapshot">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A partial representation
                            of a snapshot used in the creation
                            process.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_id" style="plain" type="string"
                    required="true"
                    path="/account/snapshots/volume_id">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID of the volume to
                            snapshot.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="force" style="plain" type="string"
                    required="false" path="/account/snapshots/force">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>[True/False] Indicate
                            whether to snapshot, even if the volume is
                            attached. Default==False.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="string"
                    required="false"
                    path="/account/snapshots/display_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Name of the snapshot.
                            Default==None.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain"
                    type="string" required="false"
                    path="/account/snapshots/display_description">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Description of the
                            snapshot. Default==None.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">Lists summary information for all
                snapshots that the tenant who submits the request can
                access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots (detailed)">
            <para role="shortdesc">Lists details for snapshots that
                the tenant who submits the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detailed.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detailed.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot details">
            <para role="shortdesc">Shows snapshot details.</para>
            <para>The
                    <code>os-extended-snapshot-attributes:progress</code>
                field in the response body shows the snapshot
                progress.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">Deletes a snapshot.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
