src/wadls/volume-api/src/os-volume-1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:cbs="http://docs.openstack.org/api/openstack-block-storage/1.0">
    <resources base="https://volume.example.com/">
        <resource id="v1" path="v1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="String" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#getVolumesSimple"/>
                    <resource path="detail" id="detail">
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            type="String" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier of an existing
                                   volume.</para></wadl:doc>
                        </param>
                        <method href="#getVolume"/>
                        <method href="#renameVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="volume_types" path="types">
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        <param name="volume_type_id" style="template"
                            type="String" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier of an existing volume
                                   type.</para></wadl:doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail" id="snapshot_detail">
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        
                        <param name="snapshot_id" style="template"
                            type="String" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier of an existing
                                   snapshot.</para></wadl:doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#updateSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
<!--    <remark>Not a valid method for Rackspace API docs.</remark>
        <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>Details for a version.</para>
        </wadl:doc>
        <method href="#versionDetails"/>
    </resource_type> -->

    <!-- Volume Methods -->
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">Creates a volume.</para>
<para>Following are several considerations when using this operation:
<itemizedlist>
      <listitem><para>When you use
          <code>source_volid</code> for volume
          cloning, note that this feature currently has
          the following constraints. You cannot create
          more than one clone per volume concurrently.
          Snapshots and volume cloning use the same
          locking mechanism, so you cannot run a
          snapshot and a clone of the same volume
          concurrently.</para></listitem>
      <listitem><para>Note that you use the
          <code>os-volume_attachments</code> API
          call
          (/servers/{server_id}/os-volume_attachments)
          to attach the new volume to your Next
          Generation Cloud Server (with the specified
          {server_id}). Refer to the <link
              xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/Volume_Attachment_Actions.html"
              >Next Generation Cloud Servers Developer
              Guide</link> for details of the call. Once
          the volume is attached, the new volume appears
          as another device on the Next Generation Cloud
          Server. It can then be partitioned, formatted,
          and mounted for use on the
          system.</para></listitem>
    <listitem><para>To create a bootable volume, include the <code>imageRef</code> parameter in the request. The corresponding response parameter is <code>image_id</code>. For more information about this feature, see the Knowledge Center article <link
        xlink:href="http://www.rackspace.com/knowledge_center/article/boot-a-server-from-a-cloud-block-storage-volume"
        >Boot a server from a Cloud Block Storage volume</link>.</para></listitem>
</itemizedlist> </para>          
            <para>The examples in this section create a 100 gibibytes (GiB)
                SATA volume called vol-001.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.xml"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume" style="plain" type="String"
                    required="true" path="/account/volumes/volume">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A partial representation
                            of a volume used in the creation process.
                            This parameter is required for this
                            operation.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="size" style="plain" type="Int"
                    required="true" path="/account/volumes/size">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The size of the volume, in gibibytes (GiB). This is a required parameter.
                            Note: When creating a volume from a
                            snapshot, the volume size must be greater
                            than the snapshot size. </para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain"
                    type="String" required="false"
                    path="/account/volumes/display_description">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A description of the
                            volume. This parameter is
                        optional.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="String"
                    required="false"
                    path="/account/volumes/display_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The name of the volume.
                            This parameter is
                        optional.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="snapshot_id" style="plain" type="Uuid"
                    required="false"
                    path="/account/volumes/snapshot_id">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The snapshot from
                            which to create a volume. This parameter
                            is optional. </para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_type" style="plain" type="String"
                    required="false"
                    path="/account/volumes/volume_type">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The type of volume to
                            create, either SATA or SSD. This parameter
                            is optional. If not defined, the
                            default, SATA, is used. </para></wadl:doc>
                </param>
                <param name="source_volid" style="plain" type="Uuid"
                    required="false"
                    path="/account/volumes/source_volid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The source identifier of
                            an existing Cloud Block Storage volume
                            that you want to clone (copy) to create a
                            new volume. This parameter is
                            optional.</para></wadl:doc>
                </param>
                <param name="availability_zone" style="plain"
                    type="String" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>This parameter is no
                            longer used. Therefore, you can supply any
                            value for <code>availability_zone</code>.
                            If you specify no value, the default is
                                <code>nova</code>.</para></wadl:doc>
                </param>
<!--           <param name="bootable" style="template" type="String" required="false">
                <doc><para>
                    This parameter is currently is currently always <code>false</code>.
               </para></wadl:doc>
               </param>
-->
                <param name="metadata" style="plain" type="String"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>This optional parameter is
                            available if you want to set any metadata
                            values on the volume.</para></wadl:doc>
                </param>
                <param name="imageRef" style="plain" type="Uuid"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Specifying this parameter is required to create a bootable volume. This parameter is the ID of the image from which you want to create the volume.</para></wadl:doc>
                        </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/bfv-volume_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/bfv-volume_show.json"/>
                </wadl:doc>
                
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">Lists summary information for all
                Cloud Block Storage volumes that the tenant who submits the
                request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes (detailed)">
            <para role="shortdesc">Lists detailed information for all
                Cloud Block Storage volumes that the tenant who submits the
                request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detailed.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detailed.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume">
            <para role="shortdesc">Shows volume details.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/bfv-volume_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/bfv-volume_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="renameVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume">
            <para role="shortdesc">Updates the name and description
                for a volume.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_request.xml"/>
                </wadl:doc>
                <param name="display_description" style="plain"
                    type="String" required="false"
                    path="/account/volumes/display_description">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A description of the
                            volume.</para></wadl:doc>
                </param>
                <param name="display_name" style="plain" type="String"
                    required="false"
                    path="/account/volumes/display_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The name of the
                            volume.</para></wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_rename_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">Deletes a volume.</para>
            <note><para>If a snapshot of the volume exists, you cannot delete the volume until you delete the snapshot.</para></note>
            </wadl:doc>
        <response status="202">
        <representation mediaType="application/json"/>
        </response> 
    </method>
<!-- Volume Types Methods -->
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">Lists volume types.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.json"/>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Note that two storage types
                        are currently supported: SATA and SSD. SATA is
                        the standard performance storage option and
                        SSD is the high performance
                    option.</para></wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type details">
            <para role="shortdesc">Shows volume type details.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
<!-- Snapshot Methods -->
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">Creates a snapshot.</para>
            <para>A snapshot is a point-in-time copy of the volume.
                You must flush all writes to the volume before you
                create a snapshot. To do so, either unmount any file
                systems on the volume or detach the volume.</para>
            <para>Snapshots are incremental, so each time that you
                create a snapshot, the incremental changes for the new
                snapshot are appended to the previous snapshot, which
                is still available. Note that you can create a volume
                from the snapshot if desired.</para>
            <para>The
                    <code>os-extended-snapshot-attributes:progress</code>
                field in the response body shows the snapshot
                progress.</para>
            <para>When the <code>POST</code> operation returns the 201
                response code, the snapshot is complete.</para>
            <para>For more information about snapshots, see the following articles in the Knowledge Center:
                <itemizedlist>
                    <listitem><para><link xlink:href="http://www.rackspace.com/knowledge_center/article/create-and-use-cloud-block-storage-snapshots"
                        >Create and Use Cloud Block Storage Snapshots</link></para></listitem>
                    <listitem><para><link xlink:href="http://www.rackspace.com/knowledge_center/whitepaper/allowing-snapshots-without-detaching-the-volumes"
                        >Allowing Snapshots Without Detaching the Volumes</link></para></listitem>
                </itemizedlist></para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.xml"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="snapshot" style="plain" type="String"
                    required="true" path="/account/snapshots/snapshot">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A partial representation
                            of a snapshot used in the creation
                            process.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_id" style="plain" type="Uuid"
                    required="true"
                    path="/account/snapshots/volume_id">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID of the volume to
                            snapshot.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="force" style="plain" type="Boolean"
                    required="false" path="/account/snapshots/force">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>[True/False] Indicate
                            whether to snapshot, even if the volume is
                            attached. The default is False.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="String"
                    required="false"
                    path="/account/snapshots/display_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Name of the snapshot.
                            The default is None.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain"
                    type="String" required="false"
                    path="/account/snapshots/display_description">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para> Description of snapshot.
                            The default is None. </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.json"/>
                </wadl:doc>   
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">Lists summary information for all
                Cloud Block Storage snapshots that the tenant who submits
                the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots (detailed)">
            <para role="shortdesc">Lists detailed information for all
                Cloud Block Storage snapshots that the tenant who submits
                the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detailed.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detailed.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot details">
            <para role="shortdesc">Shows snapshot details.</para>
            <note><para>The
                        <code>os-extended-snapshot-attributes:progress</code>
                    field in the response body shows snapshot
                    progress. See the following
                examples.</para></note>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
 
    <method name="PUT" id="updateSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update snapshot">
            <para role="shortdesc">Updates a specified
                snapshot.</para>
        </wadl:doc>
        <request>
            <param name="display_description" style="query"
                type="String" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Describes the
                        snapshot.</para></wadl:doc>
            </param>
            <param name="display_name" style="query" type="String"
                required="false">
                
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The name of the
                        snapshot.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="cbs:cbs">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">Deletes a snapshot.</para>
        </wadl:doc>
<!--    <wadl:doc><para>
         When you delete your snapshots, they will show up as deleted very soon after the call finishes. You can perform additional operations on the snapshot's volume without getting 409 conflicts.
        </para>
        </wadl:doc>
-->
        <response status="202">
            <representation mediaType="application/json"/>
        </response>
        
    </method>
</application>
